* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}

html,
body {
  height: 100%;
  width: 100%;
}
main {
  background-color: black;
  width: 100%;
  height: 100%;
  div#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    div#inner-container {
      width: 100%;
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      #minus-div {
        background: linear-gradient(#bd3039);
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        h2 {
          font-size: 100px;
        }
      }
      #number-div {
        background-color: rgb(255, 255, 255);
        border: 10px solid #bd3039;
        height: 500px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        h2 {
          font-size: 100px;
        }
      }
      #plus-div {
        background: linear-gradient(#bd3039);
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        h2 {
          font-size: 100px;
        }
      }

      #minus-div:hover,
      #plus-div:hover,
      :hover {
        background: rgb(111, 45, 45);
      }
    }
    button {
      font-size: 50px;
      border: none;
      padding: 1rem 10rem;
      border-radius: 50px;
      background: linear-gradient(#bd3039);
    }
    button:hover {
      background: rgb(255, 157, 157);
    }
  }
}
