* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}

html,
body {
  height: 100%;
  width: 100%;
}

@mixin flex-div() {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: black;
  width: 100%;
  height: 100%;
  div#container {
    width: 100%;
    height: 100%;
    @include flex-div();
    flex-direction: column;
    gap: 5rem;
    div#inner-container {
      width: 100%;
      height: 30%;
      @include flex-div();
      gap: 2rem;
      #number-div {
        background-color: rgb(255, 255, 255);
        border: 0.8rem solid #bd3039;
        height: 350px;
        width: 350px;
        @include flex-div();
        border-radius: 100%;
        h2 {
          font-size: 10rem;
        }
      }
      #minus-div,
      #plus-div {
        background: linear-gradient(#bd3039);
        height: 150px;
        width: 150px;
        @include flex-div();
        border-radius: 1rem;
        h2 {
          font-size: 7rem;
        }
      }

      #minus-div:hover,
      #plus-div:hover,
      :hover {
        background: rgb(111, 45, 45);
      }
    }
    button {
      font-size: 3rem;
      border: none;
      padding: 1rem 10rem;
      border-radius: 3rem;
      background: linear-gradient(#bd3039);
    }
    button:hover {
      background: rgb(255, 157, 157);
    }
  }
}
@media screen and (max-width: 750px) {
  main {
    div#container {
      div#inner-container {
        flex-direction: column;
        #number-div {
          height: 200px;
          width: 200px;
          h2 {
            font-size: 10rem;
          }
        }
        #minus-div,
        #plus-div {
          height: 100px;
          width: 100px;
        }
      }
      button {
        margin-top: 2rem;
        padding: 0.5rem 2rem;
        font-size: 1.5rem;
      }
    }
  }
}
